<% content_for :title, "New transcript course" %>

<h1>New transcript course</h1>

<%= render "form", transcript_course: @transcript_course %>

<br>

<div>
  <%= link_to "Back to transcript courses", transcript_courses_path %>
</div>
