<div class="classList">
  <h6><%=course.cname%></h6> 
    <% classes.each do |c, meetings| %>
    <%unless @scheduled_classes[course] == c%>
      <%= render(partial: 'class', locals: {c: c,course: course, isSaved: false}) %>
    <% end %>
    <%end%>
</div>
