<div class="meetingList">
  <h6>Meeting Times</h6> 
  <%if @just_selected_class && @just_selected_class%>
    <% @loaded_classes[@just_selected_course][@just_selected_class].each do |meeting| %>
      <%= render(partial: 'meeting', locals: {meeting:meeting}) %>
    <% end %>
  <%end%>
</div>
