<div class = "schedule">
<div class="classList">
  <h6>Meeting Times</h6> 
    <% @loaded_classes[@selected_course][@selected_class].each do |meeting| %>
      <%= render(partial: 'meeting', locals: {meeting:meeting}) %>
    <% end %>
</div>
</div>